<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>


<form action="#" th:action="@{/Client/inactivate}" th:object="${Clients}"
    method="POST" >
<div class="container main-content list">
    <div th:if="${success}"
         class="row alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${success}"></span>
    </div>
    <div class="row">
        <a th:href="@{/Client/create}" class="btn btn-warning pull-left">
            <span class="glyphicon glyphicon-plus"></span> Nuevo Registro
        </a>
        <form class="form-inline pull-right" action="#"
              th:action="@{/Client/search}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="s"
                       placeholder="Nombre..." />
            </div>
            <button type="submit" class="btn btn-danger">Buscar</button>
        </form>

  

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Más opciones
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li> <button type="submit" class="btn btn-primary"> Inactivar Receptores</button></li>
            </ul>
        </div>
        
    </div>
    <th:block th:if="${#lists.isEmpty(Clients)}">
        <h3>No hay receptores</h3>
    </th:block>
    
    <th:block th:unless="${#lists.isEmpty(Clients)}">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Razón Social/Nombre</th>
                    <th>Documento</th>
                    <th>Ciudad</th>
                    <th>Pais</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact,iterStat : ${Clients}">
                    <td><input 
                    type="checkbox" 
                        th:name="${iterStat.index}"
                        th:checked="${contact.ClienteStatus}"/></td>
                    <td th:text="${contact.ClienteRazaoNome}"></td>
                    <td th:text="${contact.ClienteNumeroDocumento}"></td>
                    <td th:text="${contact.ClienteCidade}"></td>
                    <td th:text="${contact.ClientePais}"></td>
                    <td><a th:href="@{/Client/{id}/edit(id=${contact.id})}"><span
                            class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a th:href="@{/Client/{id}/delete(id=${contact.id})}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    
</div>
</form>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>